header {
    background-color: azure;
    border: 1px solid black;
}

h1 {
    color: #30475e;
    text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
    text-align: center;
    font-family: sans-serif, Arial;
}

h2 {
    color: #c1a57b;
    text-align: center;
    text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
    font-family: sans-serif, Arial;
}

h5 {
    margin-left: 5%;
}

.galeria {
    height: calc( 300px + 3em);
    width: 260px;
    margin: 1em auto;
    position: relative;
}

.galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
}

.galeria input[type=radio] {
    position: relative;
    bottom: calc(-300px - 1.5em);
    left: .5em;
}

.galeria input[type=radio]:nth-of-type(1):checked~img:nth-of-type(1) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked~img:nth-of-type(2) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked~img:nth-of-type(3) {
    opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked~img:nth-of-type(4) {
    opacity: 1;
}

section {
    margin: 2%;
    background-color: aliceblue;
    width: 65%;
    float: left;
    border: 1px solid black;
}

#tesis {
    color: blue;
}

.dibujos {
    text-align: center;
}

#columna {
    width: 25%;
    font-size: 100%;
    border: 1px solid black;
    background-color: aliceblue;
    float: right;
    margin: 2%;
}

#bottom {
    clear: both;
    padding: 2%;
}

.poemas {
    margin-right: 30%;
    margin-left: 30%;
    font-size: 90%;
    font-style: oblique;
    text-align: justify;
    font-family: Verdana, Tahoma, sans-serif;
}

.texto {
    color: #222831;
    font-family: serif;
    text-align: center;
    font-size: 115%;
    margin: 5%;
}

.articulo {
    text-align: justify;
    font-size: 115%;
    font-family: serif;
    margin-right: 10%;
    margin-left: 10%;
}

article footer {
    text-align: right;
    margin-right: 10%;
    margin-top: 5%;
}

figure {
    text-align: right;
}

hgroup {
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: #ececec;
}

details {
    font-style: italic;
}

time {
    text-align: center;
    color: #c1a57b;
}

footer,
nav {
    text-align: left;
}